html {
    height: 100%;
    max-width: 1280px;
}

body {

    background: linear-gradient(180deg, deepskyblue -90%, transparent 30%, white 75%, deepskyblue 300%);
    margin:auto;
}
.main{
    position: relative;
    text-align: center;
    margin-top: 10px;
}
.main-ul {
    padding: 0px;
    width: 100%;
    max-width: 976px;
    display: inline-block;
    position: relative;
    left: 100px;
    text-align: center;
    line-height: 3;
}

a {
    font: bold 10pt "Tahoma";
    color: rgb(32, 115, 164);
    text-decoration: none;
}

.top{
    display: inline-block;
    border: 1px solid;
    width: 100%;
    list-style-type: none;
}
.top li{
    width: 100px;
    float: right;
    max-width: 100%;
}
.top li a{

}




.dropdown {
    position: relative;
    margin: 0px -2px;
    display: inline-block;
    max-width: 96px;
    text-align: center;
    width: 100%;
    padding: 12px 0px;
    border: 1px solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: 2px solid;
    border-color: rgb(99, 181, 221);
    background: linear-gradient(0deg, deepskyblue -150%, white 50%);}

.dropdown-content {
    position: absolute;
    left: -99px;
    top: 43px;
    max-width: 1280px;
    width: 978px;
    padding: 0px;
    border: 1px solid;
    border-top: 2px solid;
    border-color: rgb(21, 106, 156);;
    border-top-color: rgb(66, 142, 187);
    background:linear-gradient(to bottom,rgb(66, 142, 187) 30%, white 250%);

}

.dropdown-content li {
    display: inline-block;
    width: 100%;
    max-width: 97px;
    padding: 11px 0px;
    text-align: center;
    float: left;
}

.dropdown-content a {
    font: 8pt Tahoma;
    position: relative;
    display: inline-block;
    color: white;
}

.dropdown:hover {
    padding-top: 15px;
    border: 1px solid;
    border-color: rgb(21, 106, 156);
    background:linear-gradient(to top,rgb(66, 142, 187) 30%, white 250%);
    border-bottom-color: transparent;

}

.dropdown:hover a {
    color: white;
}

.dropdown-content a:hover {
    color: yellow;
}

.verical-line{
    position: absolute;
    display: inline-block;
    top: 10px;
    width: 1px;
    height: 16px;
    background: linear-gradient(to right, rgb(59,132,181) 50%, rgb(82,167,202) 100%);
}