.blimster{
    position: relative;
    display:inline;
    font: 20pt "Myriad Pro";
    left: 250px;
    background: linear-gradient(90deg,white -100%,rgb(11,84,127) 103%);
    -webkit-background-clip: text;  /* подробнее про background-clip */
    color: transparent;
}
.lorem{
    position: relative;
    display: inline;
    font: 12pt "Tahoma";
    left: 270px;
    color: rgb(89,170,205);
    border-left: 2px dotted rgb(89, 170, 205);
    padding: 3px 0 3px 18px;
}
.pl{
    left: 246px;
    color: rgb(121,191,221);
}
.dotted-wall{
    position: relative;
    display: inline;
    left: 250px;
    border-right:10px red;
}

.main-login-reg{
    position: relative;
    display: inline;
    float: right;
    right: 59px;
    width: 235px;
    padding: 5px;
    border: 1px solid transparent;
    background: linear-gradient(90deg, transparent 0%,rgb(216,238,246) 100%);
    border-image: linear-gradient(to left top, white -100%, deepskyblue 1500%);
    border-image-slice: 1;
    color: rgb(32,115,164);

    font: bold 10pt "Tahoma";
}
.login-button{
    display: inline;
    position: relative;
    padding: 4px;
    float: right;
    right: 90px;
    cursor: pointer;

    border: 1px solid rgb(128,198,225);
    background: linear-gradient(0deg,rgb(233,244,248) 50%,white 0%);

}
.reg-button{
    display: inline;
    position: relative;
    padding: 4px;
    float: right;
    right: -83px;
    cursor: pointer;
    background: white;
    border: 1px solid rgb(128,198,225);
    background: linear-gradient(0deg,rgb(233,244,248) 50%,white 0%);
}
.login-button:hover{
    background:rgb(66, 142, 187);
    color: white;
}
.reg-button:hover{
    background: rgb(66, 142, 187);
    color: white;
}









