.logo-main{
    position: relative;
    left: 177px;
    top: 36px;
}
.logo-first-picture{
    position: relative;
    height: 21px;
    width: 40px;
    border: 1px solid;
    border-radius: 4px;
    border-color: rgb(64,132,19);
    background: linear-gradient(0deg,rgb(64,132,19) 27%,white 200%);

}
.logo-first-picture-2{
    position: absolute;
    top: 6px;
    border: 10px solid transparent;
    border-right-color: rgb(64,132,19);
    float: left;
    transform: rotate(66deg);
}

.logo-second-picture{
    position: relative;
    width:33px;
    height: 19px;
    top: -12px;
    left: 17px;
    border: 1px solid;
    border-radius: 4px;
    border-color: rgb(210,238,247);
    background: linear-gradient(0deg,grey 0%, white 0%);
}
.logo-second-picture-2{
    position: absolute;
    top: 13px;
    left: 15px;
    border: 10px solid transparent;
    border-right-color: white;
    transform: rotate(66deg);

}